.reviews {
  margin-bottom: 80px;  
  overflow: hidden;

  .typography-h2 {
    margin-bottom: $space-large;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    position: relative;    
  }

  &__img {
    max-width: 180px;
    max-height: 180px;
    aspect-ratio: 781 / 781;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__circle {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 130px;
    border-radius: 100vw;
    background: $cRed;
    z-index: 1;
  }

  &-info {
    display: flex;
    flex-direction: column;
    background: $cBlack;
    padding: $space-medium $space-medium 200px;
    color: $cWhite;
    position: relative;
    margin-top: auto;    

    &__inner {
      display: flex;
      flex-direction: column;
      
      justify-content: space-between;
      gap: 32px;
      height: 100%;
    }

    &__title {
      font-size: 20px;
      font-weight: 900;
      line-height: 112%;
      margin-bottom: $space-medium;
    }

    &__text {
      font-size: 16px;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: -1px;
    }
  }

  @media all and (min-width: $screenSm) {
    &-info {
      flex-direction: row;
      
      &__inner {
        flex-direction: row;
      }
    }
  }

  @media all and (min-width: $screenLg) {
    margin-bottom: 130px;

    &__wrap {
      min-height: 370px;
      margin-top: 115px;
    }

    &__img {
      max-width: 400px;
      max-height: 400px;
    }

    &__circle {
      bottom: -55px;
      width: 400px;
      height: 400px;
      z-index: 0;
    }

    &-info {
      min-height: 230px;
      padding: $space-medium;

      &__right {
        min-width: 290px;
      }

      &__inner {
        flex-direction: row;
        align-items: center;
        gap: 335px;
      }

      &__title {
        font-size: 24px;
      }

      &__text {
        font-size: 18px;
      }
    }
  }

  @media all and (min-width: $screenXxl) {
    margin-bottom: 200px;

    &__wrap {
      min-height: 781px;
      margin-top: 115px;
    }

    &__img {
      max-width: 781px;
      max-height: 781px;
    }

    &__circle {
      bottom: 36px;
      width: 642px;
      height: 602px;
    }

    &-info {
      min-height: 350px;
      padding: $space-large;

      &__right {
        min-width: 427px;
      }

      &__inner {
        align-items: center;
        gap: 490px;
      }

      &__title {
        font-size: 32px;
        margin-bottom: $space-medium;
      }

      &__text {
        font-size: 20px;
      }
    }
  }
}