<header class="header">
  <div class="container">
    <nav class="header__inner">

      <a href="/" class="header__logo">
        <img src="../assets/images/logo.png" alt="">
      </a>

      <nav class="menu">
        <ul>
          <li class="menu__item"><a href="#about" class="js-menu-item">о школе</a></li>
          <li class="menu__item"><a href="#reviews" class="js-menu-item">разборы</a></li>
          <li class="menu__item"><a href="#translations" class="js-menu-item">трансляции</a></li>
          <li class="menu__item"><a href="#how-to-get" class="js-menu-item">как попасть</a></li>
          <li class="menu__item"><a href="#support" class="js-menu-item">тех. поддержка</a></li>
        </ul>
      </nav>

      <div class="header-search">
        <div class="header-search__block">
          <div class="header-search__wrap">
            <form action="#" class="js-search-form">
              <input name="search" type="search" class="header-search__input js-search-input">
              <button class="button header-search__icon js-search-button" type="submit">
                <svg>
                  <use xlink:href="/assets/sprites/symbol/svg/sprite.symbol.svg#search"></use>
                </svg>
              </button>
            </form>            
          </div>            
        </div>
      </div>

      <div class="header__burger js-menu-open">
        <div class="burger-line"></div>
        <div class="burger-line"></div>
        <div class="burger-line"></div>
      </div>
    </div>
  </div>
</header>

<div class="burger-menu js-menu-mobile active">
  <button class="button js-menu-close">
    <svg>
      <use xlink:href="/assets/sprites/symbol/svg/sprite.symbol.svg#close"></use>
    </svg>
  </button>
  <ul class="burger-menu__list">
    <li class="burger-menu__item"><a href="#about">о школе</a></li>
    <li class="burger-menu__item"><a href="#reviews">разборы</a></li>
    <li class="burger-menu__item"><a href="#translations">трансляции</a></li>
    <li class="burger-menu__item"><a href="#how-to-get">как попасть</a></li>
    <li class="burger-menu__item"><a href="#support">тех. поддержка</a></li>
  </ul>
</div>