<header class="header">
  <div class="container">
    <nav class="header__inner">

      <a href="/" class="header__logo">
        <img src="../assets/images/logo.png" alt="">
      </a>

      <nav class="menu">
        <ul>
          <li class="menu__item"><a href="#about" class="js-menu-item">о школе</a></li>
          <li class="menu__item"><a href="#inside" class="js-menu-item">что внутри</a></li>
          <li class="menu__item"><a href="#prices" class="js-menu-item">стоимость</a></li>
          <li class="menu__item"><a href="#excursion" class="js-menu-item">экскурсия по школе</a></li>
          <li class="menu__item"><a href="https://t.me/shabalintennis" class="js-menu-item" target="_blank">служба заботы</a></li>
        </ul>
      </nav>

      <div></div>

      <div class="header__burger js-menu-open">
        <div class="burger-line"></div>
        <div class="burger-line"></div>
        <div class="burger-line"></div>
      </div>
    </div>
  </div>
</header>

<div class="burger-menu js-menu-mobile active">
  <button class="button js-menu-close">
    <svg>
      <use xlink:href="/assets/sprites/symbol/svg/sprite.symbol.svg#close"></use>
    </svg>
  </button>
  <ul class="burger-menu__list">
    <li class="burger-menu__item"><a href="#about">о школе</a></li>
    <li class="burger-menu__item"><a href="#inside">что внутри</a></li>
    <li class="burger-menu__item"><a href="#prices">стоимость</a></li>
    <li class="burger-menu__item"><a href="#excursion">экскурсия по школе</a></li>
    <li class="burger-menu__item"><a href="https://t.me/shabalintennis" target="_blank">служба заботы</a></li>
  </ul>
</div>