<aside class="navigation">
       
  <nav class="menu js-menu">
    <ul>
      <li class="menu__item active">
        <a href="/public/excursion/list.html" class="menu__item-name">
          <svg class="icon">
            <use xlink:href="/assets/sprites/symbol/svg/sprite.symbol.svg#map"></use>
          </svg>
          <span>Экскурсии</span>
        </a>
      </li>

      <li class="menu__item">
        <a href="/public/gathering-place/list.html" class="menu__item-name">
          <svg class="icon">
            <use xlink:href="/assets/sprites/symbol/svg/sprite.symbol.svg#point"></use>
          </svg>
          <span>Места сбора</span>
        </a>
      </li>

      <li class="menu__item">
        <a href="#" class="menu__item-name">
          <svg class="icon">
            <use xlink:href="/assets/sprites/symbol/svg/sprite.symbol.svg#museum"></use>
          </svg>
          <span>Объекты посещения</span>
        </a>
      </li>

      <li class="menu__item">
        <a href="/public/location/list.html" class="menu__item-name">
          <svg class="icon">
            <use xlink:href="/assets/sprites/symbol/svg/sprite.symbol.svg#place"></use>
          </svg>
          <span>Место проведения</span>
        </a>
      </li>

      <li class="menu__item">
        <a href="#" class="menu__item-name">
          <svg class="icon">
            <use xlink:href="/assets/sprites/symbol/svg/sprite.symbol.svg#bron"></use>
          </svg>
          <span>Бронирования</span>
        </a>
      </li>

      <li class="menu__item">
        <a href="#" class="menu__item-name">
          <svg class="icon">
            <use xlink:href="/assets/sprites/symbol/svg/sprite.symbol.svg#log-out"></use>
          </svg>
          <span>Выход</span>
        </a>
      </li>
    </ul>
  </nav>

</aside>